PORT=3000
GOOGLE_SHEET_ID=1QclDb5NqKukFDrxN35YP_s2Z_IkH97WvHvrVdUeE-gA
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
STICKER_SHEET_NAME=Sticker
ALLOWED_ORIGIN=*
